html, body {
	padding: 0;
	margin: 0;
}
body, input {
	font-family: verdana, sans-serif;
	color: black;
}
body {
	font-size: 90%;
}
input {
	font-size: 85%;
}
a {
	color: #0061ff;
}
a:visited {
	color: #9900cc;
}

div.header {
	text-align: center;
	background-color: #b1d8ff;
	padding: 5px 0 0 0;
	border-bottom: 1px solid #888;;
	margin-bottom: 15px;
}
div.header h1 {
	padding: 0;
	margin: 0;
	font-family: verdana;
	font-size: 19pt;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
div.header h1 a {
	color: black;
	text-decoration: none;
}
div.header h1 img {
	vertical-align: -50%;
}
div.header div.nav {
	padding: 8px 0;
	margin-top: 4px;
}
div.header div.nav ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
div.header div.nav ul li a {
	display: inline-block;
	background: #edf2f2;
	padding: 0.5em 1.5em;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid white;
	border-left: 1px solid white;
	text-decoration: none;
	font-weight: bold;
	font-size: 10pt;
	color: navy;
}
div.header div.nav ul li a:hover {
	background: #e0e9e9;
}

div.error {
	color: red;
	margin: 0 0 1em 0;
}

#main {
	background-color: #e4ecec;
	border: 1px solid #d2d6d6;
	padding: 15px 20px;
	width: 55em;
	margin: 0 auto 20px auto;
}
#main.diff-page {
	width: 93%;
}

div.bottom-info {
	margin-top: 1.5em;
}

div.footer-text {
	margin: 2em 0 0 0;
	border-top: 1px dotted #888;
	padding-top: 0.7em;
	font-size: 90%;
	color: #444;
	text-align: center;
}
div.disclaimer {
	margin-top: 1em;
	font-size: 85%;
}

form div {
	margin: 0.5em 0;
}
form div.group {
	background-color: #bfe3bf;
	border: 1px solid #aaa;
	padding: 0.5em 0.8em;
}
form div.group.options {
	font-size: 90%;
}
form input[name=url] {
	box-sizing: border-box;
	width: 100%;
	font-weight: bold;
	font-size: 90%;
	padding: 0.4em;
}
#main h2 {
	margin: 0;
	padding: 0;
	font-size: 100%;
}
form div.checkboxes {
	margin: 0 0 1em 2em;
}
form div.checkboxes label {
	margin-left: 0.5em;
}
form div.checkboxes label:first-child {
	margin-left: 0;
}
form input[type=submit],
form button {
	font-size: 110%;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: left;
	padding-bottom: 0;
}

div.info {
	text-align: justify;
	font-size: 90%;
}
div.info .warning {
	color: #dd0000;
	background-color: #ffffee;
	padding: 3px 6px;
	border: 1px solid #888;
}

ol > li {
	font-size: 85%;
	margin: 0.5em 0;
}
div.warning {
	background: #ffff99;
	border: 1px solid red;
	padding: 1em;
	margin: 0.5em 0;
	color: black;
}

div.adv-options {
	font-size: 90%;
	text-align: right;
}

div.buttons {
}
button.convert {
	background: #0066cc;
	color: white;
	border: 1px solid black;
	border-radius: 6px;
	padding: 0.5em 0.7em;
	cursor: pointer;
}
button.convert.install {
	background: #279f00;
}
button.convert.description {
	padding-bottom: 0.2em;
}
button.convert.description div {
	font-size: 8pt;
	font-weight: normal;
	letter-spacing: normal;
	padding: 0.3em 0 0 1.5em;
	opacity: 0.9;
}
button.convert:hover {
	opacity: 0.8;
}
button.convert:active {
	box-shadow: 0px 0px 3px 3px rgba(255, 183, 40, 1);
}
div.buttons input:nth-child(2) {
	margin-left: 2em;
}


span.help {
	position: relative;
	cursor: default;
}
span span:first-child {
	background-color: #0099ff;
	color: white;
	padding: 0 0.3em;
	border-radius: 2px;
}
span.help span:nth-child(2) {
	display: none;
	position: absolute;
	bottom: 1.5em;
	left: -17em;
	min-width: 35em;
	background-color: #ffffcc;
	color: black;
	border: 1px solid #888;
	border-radius: 4px;
	padding: 0.3em;
	z-index: 1000;
}
span.help:hover span:nth-child(2) {
	display: inline;
}


h1.addon-name {
	margin-top: 0;
	color: green;
}
h1.addon-name span.version {
	font-weight: normal;
	color: #666;
}

a.download {
	font-weight: bold;
}

div.diff {
	font-family: monospace;
	white-space: pre-wrap;
	border: 1px solid #999;
	background: #f6f6f6;
	padding: 10px;
}
div.diff ins {color:black;background:#b4ffb4;text-decoration:none}
div.diff del {color:red;background:#fdd;text-decoration:none}
