html, body {
	padding: 0;
	margin: 0;
}
body, input {
	font-family: verdana, sans-serif;
	color: black;
}
body {
	font-size: 90%;
}
input {
	font-size: 85%;
}
a {
	color: blue;
}
a:visited {
	color: navy;
}

div.header {
	text-align: center;
	background-color: #d4e7fb;
	padding: 10px 0;
	border-bottom: 1px solid #222298;
	margin-bottom: 30px;
}
div.header h1 {
	padding: 0;
	margin: 0;
	font-family: verdana;
	font-size: 20pt;
}
div.header h1 a {
	color: #000089;
	text-decoration: none;
}
div.header h1 img {
	vertical-align: -50%;
}
div.error {
	color: red;
	margin: 0 0 1em 0;
}

#main {
	background-color: #e4ecec;
	border: 1px solid #d2d6d6;
	border-radius: 7px;
	padding: 15px 20px;
	width: 55em;
	margin: 0 auto 20px auto;
}
#main.diff-page {
	width: 93%;
}
form div {
	margin: 0.5em 0;
}
form div.group {
	background-color: #bfe3bf;
	border: 1px solid #aaa;
	border-radius: 7px;
	padding: 0.5em 0.8em;
}
form div.group.options {
	font-size: 90%;
}
#main h2 {
	margin: 0;
	padding: 0;
	font-size: 100%;
}
form div.checkboxes {
	margin: 0 0 1em 2em;
}
form div.checkboxes label {
	margin-left: 0.5em;
}
form div.checkboxes label:first-child {
	margin-left: 0;
}
form input[type=submit] {
	font-size: 110%;
	font-weight: bold;
}

div.info {
	text-align: justify;
	font-size: 90%;
}
div.info .warning {
	color: #dd0000;
	background-color: #ffffcc;
	padding: 3px 6px;
	border: 1px dotted black;	
}

ol > li {
	font-size: 85%;
	margin: 0.5em 0;
}

span.help {
	position: relative;
	cursor: default;
}
span span:first-child {
	background-color: #0099ff;
	color: white;
	padding: 0 0.3em;
	border-radius: 2px;
}
span.help span:nth-child(2) {
	display: none;
	position: absolute;
	bottom: 1.5em;
	left: -17em;
	min-width: 35em;
	background-color: #ffffcc;
	color: black;
	border: 1px solid #888;
	border-radius: 4px;
	padding: 0.3em;
	z-index: 1000;
}
span.help:hover span:nth-child(2) {
	display: inline;
}



a.download {
	font-weight: bold;
}

div.diff {
	font-family: monospace;
	white-space: pre-wrap;
	border: 1px solid #999;
	background: #f6f6f6;
	padding: 10px;
	border-radius: 5px;
}
div.diff ins {color:black;background:#b4ffb4;text-decoration:none}
div.diff del {color:red;background:#fdd;text-decoration:none}
